<!DOCTYPE html>
<html>
<head>
  <title>WiFi sensors graphs</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <script type="text/javascript">

    $(function () {
        $(document).ready(function() {

            var temperature_data = {{ temperature_data|safe  }};
            var battery_data     = {{ battery_data|safe  }};

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var temperature_chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'temperature_container',
                    zoomType: 'x',
                    spacingRight: 20
                },
                title: {
                    text: 'Temperature'
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' :
                        'Drag your finger over the plot to zoom in'
                },
                xAxis: {
                    type: 'datetime',
                    maxZoom: 60000,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    title: {
                        text: 'Temperature, C'
                    },
                    min: 10,
                    startOnTick: false,
                    showFirstLabel: false
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillOpacity: .5,
                        lineWidth: 1,
                        marker: {
                            enabled: false,
                            states: {
                                hover: {
                                    enabled: true,
                                    radius: 5
                                }
                            }
                        },
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        }
                    }
                },
        
                series: [{
                    type: 'area',
                    name: 'Temperature',
                    data: temperature_data
                }]
            });

            var battery_chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'battery_container',
                    zoomType: 'x',
                    spacingRight: 20
                },
                title: {
                    text: 'Battery Voltage'
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' :
                        'Drag your finger over the plot to zoom in'
                },
                xAxis: {
                    type: 'datetime',
                    maxZoom: 60000,
                    title: {
                        text: null
                    },
                },
                yAxis: {
                    title: {
                        text: 'Voltage, V'
                    },
                    min: 3,
                    max: 3.5,
                    startOnTick: false,
                    showFirstLabel: false,
                    plotLines : [{
                        value : 3.2,
                        color : 'orange',
                        dashStyle : 'shortdash',
                        width : 2,
                        label : {
                            text : 'Low battery'
                        }
                    }]
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillOpacity: .1,
                        lineWidth: 2,
                        marker: {
                            enabled: false,
                            states: {
                                hover: {
                                    enabled: true,
                                    radius: 5
                                }
                            }
                        },
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 2
                            }
                        }
                    }
                },
        
                series: [{
                    type: 'area',
                    name: 'Voltage',
                    data: battery_data
                }]
            });
        });
    });
  </script>
</head>
<body>
    <div id="temperature_container" style="min-width: 400px; max-width: 1024px; height: 400px; margin: 0 auto"></div>
    <div id="battery_container" style="min-width: 400px; max-width: 1024px; height: 400px; margin: 20px auto"></div>
</body>
</html>